<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reddit Analayzer</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


</head>
<body>
  <div class="row">
      <div class="col l11 s11 m11">

      </div>
      <div class="col l1 s1 m1">
        <button class="waves-effect" id="click">Click</button>
      </div>
  </div>
  <div class="row">
    <div class="col l2 s2 m2">

    </div>
    <div class="col l7 s7 m7 z-depth-1" id="searchbar">
        <input type="text" class="browser-default" placeholder="Search">
        <button class="waves-effect"><i class="material-icons">search</i></button>
        <a class='dropdown-trigger btn' data-target="dropdown" style="color: black;"><span>TEXT</span><i class="material-icons">arrow_drop_down</i></a>
        <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">arrow_drop_down</i></a> -->
    </div>

    <ul id='dropdown' class='dropdown-content'>
        <li><span class="black-text">TEXT</span></li>
        <li><span class="black-text">URL</span></li>
    </ul>
    <div class="col l3 s3 m3">

    </div>
  </div>

  <div class="row" id="flair-result">
    <div class="col l2 s2 m2"></div>
    <div class="col l7 s7 m7">
      <span style="color: white;font-size: 190%;font-family: monospace;">Flair: </span>

    </div>
    <div class="col l3 s3 m3"></div>
  </div>
</div>
<div class="row" id="percent-result">
    <div class="col l2 s2 m2"></div>
    <div class="col l7 s7 m7">
      <span style="color:black;font-size: 190%;font-family: monospace;">Percent: </span>

    </div>
    <div class="col l3 s3 m3"></div>
  </div>
</div>


<div id="info">

</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
