<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reddit Analyze</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


</head>
<body>
  <div class="row">
      <div class="col l11 s11 m11">

      </div>
      <div class="col l1 s1 m1">
        <button class="waves-effect"  href="http://localhost:5000/stats" id="click">Stats</button>
      </div>
  </div>
  <div class="row">
    <div class="col l2 s2 m2">

    </div>
    <form action = "http://localhost:5000/result" method = "POST"></form>
    <div class="col l7 s7 m7 z-depth-1" id="searchbar">
        <input type="text" class="browser-default" placeholder="Search">
        <button class="waves-effect"><i class="material-icons">search</i><input type = "submit" value = "submit" /></button>
        <a class='dropdown-trigger btn' data-target="dropdown" style="color: black;">Text<i class="material-icons">arrow_drop_down</i></a>
        <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">arrow_drop_down</i></a> -->
    </div>

    <ul id='dropdown' class='dropdown-content'>
        <li><span class="black-text">Text</span></li>
        <li><span class="black-text">URL</span></li>
    </ul>
    <div class="col l2 s2 m2">

    </div>
  </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
